*, *:before, *:after{
    box-sizing: border-box;
}

body{
    background-color: rgb(237, 202, 27);
    background-image: url(img/pngwing.com.png);
    background-repeat: repeat;
    background-size: 300px;
    color: rgb(5, 94, 30);
}

.container{
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
}

h1 {
    text-align: center;
    font-size: 48px;
    font-weight: 400;
    font-family: 'Lobster', cursive;
    margin: 70px 0 50px 0;
}

h1 span {
    color:rgb(181, 20, 2)
}

main {
    display:flex;
    flex-direction: row-reverse;
}

.tree{
    width:50%;
}

.tree img{
    max-width: 450px;
}

.timer{
    width:50%;
    padding: 0 30px;
    display:flex;
    justify-content:space-around;
    align-items:center
}
.timer .timer__block{
    width:102px;
    height:120px;
    background:#fff;
    box-shadow:0 4px 20px rgba(0,0,0,.25);
    font-size:16px;
    font-weight:300;
    text-align:center
}
.timer .timer__block span{
    display:block;
    margin-top:20px;
    margin-bottom:5px;
    font-size:56px;
    font-weight:700
}

@media(max-width: 1000px){
    main {
        display: block;
    }
    .timer {
        margin: 0 auto;
        margin-bottom: 50px;
        width: 60%;
    }
    .tree{
        width: 100%;
    }
    .tree img{
        display: block;
        margin: 0 auto;
    }
}
@media(max-width: 840px){
    .timer {
        width: 80%;
    }
}
@media(max-width: 630px){
    .timer {
        width: 100%;
    }
}
@media(max-width: 500px){
    h1 {
        margin: 40px 0;
        font-size: 40px;
    }
    .tree img {
        max-width: 350px;
    }
}
@media(max-width: 360px){
    h1 {
        font-size: 34px;
    }
    .tree img {
        max-width: 250px;
    }
}

